* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* centers items horizontally */
  /* centers items vertically */
  height: 100vh;

}


.container {
  width: 960px;

}