* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}



.app {
  min-height: 100vh;
  background: white;
  display: flex;
  justify-items: center;
  align-items: center;
  /* centers items horizontally */
  /* centers items vertically */
  /* width: 80vw; */
  /* width: calc(80vw - scrollbar-width); */
  /* Subtract the width of the scrollbar */
  /* Hide horizontal overflow */
  overflow-x: hidden;
}


.container {
  width: 960px;

}