.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
    overflow-x: hidden;


}

/* this the uppercontent area */

.upperContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20rem;
    position: relative;


}

/* the image content */


.contentText {
    position: relative;
    padding: 6rem;
    top: 5em;
    left: -9.5rem;
    background-color: white;

}


.paraContent {
    line-height: 1.5rem;
    color: gray;
}


.contentText h1 {
    letter-spacing: 1rem;
    font-weight: 100;
    font-size: 2.1rem;
    margin-bottom: 2rem;
}

.newLine:before {
    content: '\A';
    white-space: pre;

}

/* gallery area */

.topsubContent {
    display: flex;
    justify-content: space-between;
}


.galleryContent {
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;
}


.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
    justify-items: center;
}